DATABASE_URL="postgresql://postgres:postgres@localhost:5432/runners_circle_marketing_os?schema=public"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""

CRM_API_KEY=""
CRM_WEBHOOK_SECRET=""
CRM_BASE_URL=""

SOCIAL_API_KEY=""
SOCIAL_API_SECRET=""
SOCIAL_APP_ID=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
AWS_S3_BUCKET=""
AWS_CLOUDFRONT_DISTRIBUTION_ID=""
AWS_EVENTBRIDGE_BUS_NAME=""
AWS_SQS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/705061159681/runners-circle-jobs"
